@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

/*
 * RESET 
 */
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}nav ul{list-style-type:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
 * } RESET 
 */

html {
    min-height: 100%;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    }

body{
    background-color: #EEE5E9;
    height: 100%;
    }


/*
    HEADER
            */

.mainHeader {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4b6cb7 , #3053A5);
    background: linear-gradient(to left, #4b6cb7 , #3053A5);
    height: 180px;
    box-sizing: border-box;
    text-align: center;
    color: #FEFFFE;
    padding: 50px 0;
    position: relative;
    }

    .mainHeader:after {
        content: '';
        width: 100%;
        height:15px;
        background: #4b6cb7; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4b6cb7 , #3053A5);
        background: linear-gradient(to left, #4b6cb7 , #3053A5);
        border-bottom-left-radius:50%;
        border-bottom-right-radius:50%;
        position: absolute;
        top:180px;
        left: 0;
        }


.mainHeader h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 1px;
    }

.mainHeader h2 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #E0FF4F
    }



/*
    MAIN CONTENT
                    */

.mainContent {
    position: relative;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    }

.mainContent .vsTitle {
    color: #393E41;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
    }

.mainContent .inputChoice {
    width: 420px;
    height: 80px;
    padding: 10px;
    line-height: 80px;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 30px;
    color:#08415C;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    border: none;
    }


.mainContent form {
    margin: 0 auto;
    }
/*
    Secondary Actions section
                                */

.subSectionActions {
    height: 300px;
    //background-color: #6E8BCE
    }


/*
    BUTTONS AND LINKS
                        */

.primButton {
    height: 90px;
    line-height: 92px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #FFA158;
    color: #FEFFFE;
    border: none;
    border-radius: 5px;
    margin: 40px 0;
    padding: 0 60px;
    cursor: pointer;







    }









